h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: rgb(209, 135, 135);
}

canvas {
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(137, 136, 185);}
    to {box-shadow: 1px 1px 38px rgb(182, 147, 204);}
}

body {
    background-size: cover;
}